@import "~bootstrap/scss/bootstrap";

* {
	&, &:before, &:after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}

html {
	font-family: Arial, sans-serif;
}


.product-image {
	max-height: 200px;
	object-fit: contain;
	cursor: pointer;
}
.product-price {
	max-height: 200px;
	object-fit: contain;
}
.product-special-price{
	color: red;
}
.product-title, .product-special-price, .detali-product-special-price{
	font-weight: bold;
}
.product-price:before, .product-old-price:before, .detali-product-price:before, .detali-product-old-price:before {
	content: "Ціна: ";
}
.product-special-price:before, .detali-product-special-price:before{
	content: "Нова ціна: ";
}
.header_text{
	font-size: 30px;
}
.contain{
	margin-top: 60px;
}
.product-old-price, .detali-product-old-price{
	text-decoration: line-through;
}
.product-buy{
	width: 40px;
}
.detali-product-buy{
	width: 60px;
	display: block;
}
.product-buy:hover, .detali-product-buy:hover{
	cursor: pointer;
	border: 1px solid #000;
}
.logoimg{
	width: 100px;
}
.store-name {
    display: inline-block;
}
.aboutUs {
    margin-bottom: 40px;
}
.categoryList-place {
    margin-top: 20px;
}
.category {
    cursor: pointer;
}
.category:hover{
	background-color: #e9ecef;
	border: 1px solid #e9ecef;
	color: #000;
}
.detali-product-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
}
.detali-product-price, .detali-product-old-price, .detali-product-special-price {
    display: block;
    font-size: 25px;
}
.detali-product-description{
	display: block;
    font-size: 15px;
}
.detali-product-description:before{
	content: "Опис: ";
}
.product-tobuy-div {
    margin: 10px 0px;
}
.product-tobuy-buttonadd, .product-tobuy-buttonremove, .product-tobuy-buttonremoveall {
    width: 30%;
    margin: 2px;
    border: 1px solid #999;
}
.panel-title{
	font-size: 1.5rem;
	display: block;
}
.form-place, #form-block{
	margin: 10px 0;
}
.orderbuttonimg{
	width: 35px;
}
.basketimg{
	width: 50px;
}
.product-tobuy-price:before{
	content: "Ціна: ";
}